/*FONTS */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/Roboto-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url("fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: url("fonts/Roboto-Bold.ttf") format("truetype");
}

/* Global properties ======================================================== */

* {
    -webkit-font-smoothing: antialiased
}

a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}

::selection {
    background: #1cbbb4!important;
    color: #fff
}

::-moz-selection {
    background: #1cbbb4!important;
    color: #fff
}

a {
    color: #212121;
    text-decoration: underline;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #212121;
    text-decoration: none;
    outline: none
}

body {
    background: #fff;
    border: 0;
    font: 14px 'Roboto', sans-serif;
    color: #7e7e7e;
    line-height: 1.42857143;
    min-width: 320px;
}

.container {
    position: relative;
    min-width: 320px;
}

#main {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

p {
    margin: 0
}

.input-group-addon {
    color: #737373;
    background-color: #ffffff;
    font-size: 2rem;
}
#back-to-top {
    position: fixed;
    border-radius: 6px;
    z-index: 99;
    bottom: 54px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #e0e0e0;
    text-decoration: none;
    display: none;
    color: #00243a;
    background-color: #f6f6f6;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  #back-to-top:hover {
    border-color: #00243a;
    background-color: #00243a;
    color: #ffffff;
  }
  #back-to-top.show {
    display: block;
  }

  #back-to-top {
    font-weight: bold;
    border-radius: 100px !important;
  }
  #back-to-top:hover {
    border-color: #00adee !important;
    background-color: #00adee !important;
    color: #ffffff;
  }
/*Header==============================================*/

.header>div>section:first-child {
    float: left;
}

.header>div>section:last-child {
    float: right;
    display: inline-block;
    margin-top: 13px;
}

.menu-default {
    display: none;
}

@media(min-width:992px) {
    .menu-default {
        display: block;
        margin: 0;
        padding: 0;
        min-height: 2rem;
        float: left;
        border-right: 1px solid #ebebeb;
        padding-right: 10px;
    }
    nav.menu-default>ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 30px;
    }
    nav.menu-default>ul li {
        display: block;
        float: left;
        position: relative
    }
    nav.menu-default>ul li>a>label {
        display: inline-block;
        height: 100%;
        margin: 0;
        padding: 0
    }
    nav.menu-default>ul li>a>label>img {
        vertical-align: middle;
        margin-right: 0.5rem;
        max-height: 100%
    }
    nav.menu-default>ul>li {
        margin-left: 2rem
    }
    nav.menu-default>ul>li:first-child,
    .menu-default>ul>li.none+li {
        margin-left: 0
    }
    .menu-default li.search>span {
        display: inline-block;
        overflow: hidden;
        line-height: inherit;
        position: relative;
        height: 30px;
        max-height: 100%;
        width: 30px;
        vertical-align: middle;
        box-sizing: border-box;
        border: solid 1px transparent;
        border-radius: 10px;
        transition: width .8s, border .8s, background-color .5s
    }
    .menu-default li.search>span:hover,
    .menu-default li.search>span:focus,
    .menu-default li.search>span:active {
        width: 150px;
        border: solid 1px #d6d6d0;
        background-color: #fff
    }
    .menu-default li.search>span>input {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 20px;
        font-size: 85%;
        width: 100%;
        height: 30px;
        max-height: 100%;
        padding: 0 25px 0 10px;
        border: 0;
        background-color: transparent
    }
    .menu-default li.search>span>label {
        display: inline-block;
        position: absolute;
        top: -1px;
        right: 5px;
        line-height: 30px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        font-size: 2rem;
    }
    .menu-default li.none {
        display: none
    }
    .mm-menu.mm-current {
        display: none;
    }
}

.user-info,
.user-info>div {
    float: right;
    margin-top: -3px;
    margin-left: 10px;
}

.user-info>figure {
    float: left;
    margin-left: 10px;
}

.user-info>div>span {
    color: #dd4b8f;
    font-weight: 500;
}


/*Ticket Tabs==========================*/

.ticket-wrapper {
    background: url(../images/bg-slide.png) center center no-repeat;
    background-size: cover;
}

.ticket-tab {
    background: rgba(38, 137, 218, .6);
    margin-top: 298px;
    margin-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs .fa-plane {
    transform: rotate(-45deg);
    margin-right: 8px;
}

ul.tabs .fa-subway {
    margin-right: 8px;
}

ul.tabs li {
    background: #2675bb;
    color: #fff;
    display: inline-block;
    padding: 9px 20px;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 5px;
    margin-top: 0px;
    min-width: 140px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 767px) {
    ul.tabs li {
        width: 100%;
    }
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        font-size: 1.1rem;
    }
    .tab-content > .form-inline .form-group {
        text-align: center;
    }
}

ul.tabs li:hover {
    background: #ff4081;
    color: #fff;
}

ul.tabs li.current {
    background: #ff4081;
    color: #fff;
}

.tab-content {
    display: none;
    background: none;
    padding-top: 15px;
    min-height: 100px;
}

.tab-content.current {
    display: inherit;
}

.ticket-search:before {
    background-image: url(../images/search.png);
}

@media (min-width: 768px) {
    .tab-content > .form-inline .form-group {
        margin-top: -30px;
    }
}


/*experience=====================*/

.experience-wrapper {
    background: url(../images/map.png) bottom center no-repeat;
    min-height: 350px;
}

.experience {
    text-align: center;
}

.experience>p {
    font-size: 24px;
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #000;
}

.experience>p>a {
    font-weight: 400;
    color: #9575cd
}
.experience span {
    font-weight: 500;
    padding: 20px;
    color: #000;
}
 .experience span .fa-angle-down{
     font-weight: 500;
     margin-left: 10px
 }
 .experience section {
     padding-top: 30px;
 }
 .viewDetail {
     margin-top: 40px;
     line-height: 36px;
     margin-bottom: 10px;
 }
 .viewDetail a {
    color: #ffffff;
    background: #ff4081;
    height: 35px;
    border-radius: 20px;
    padding: 12px 50px;
 }
 /*News===================================*/
 .contentTitle {
     text-align: center;
 }
 .contentTitle > div{
     margin-top: 50px;
     font-size: 24px;
     color: #000;
     text-transform: uppercase;
     margin-bottom: 10px;
 }
 .listNews{
    text-align: center;
    position: relative;
    overflow: hidden;
    border: none;
    margin-top: 30px;
 }
 .listNews img {
     width: 100%;
     opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
 }
 .listNews img:hover{
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
 }
 .listNews .price {
     background-color: #fff;
     position: absolute;
     top: 20px;
     right: 40px;
     padding: 40px;
 }
 .listNews .price > p:first-child {
     color: #000;
     font-weight: 500;
     font-size: 16px;
 }
.listNews .fa-exchange{
    margin: 10px 10px;
}
.listNews .price>div{
    margin-top: 20px;
}
.listNews .price a{
    color: #ffffff;
    background: #42a5f5;
    height: 30px;
    border-radius: 3px;
    padding: 5px 20px;
}
.listNews .saleoff, .saleoff1, .saleoff2, .saleoff3, .saleoff4, .saleoff5 {
    position: absolute;
    top: 20px;
    padding: 10px;
    right: 0;
    color: #fff;
}
.listNews .saleoff p:last-child, .saleoff1 p:last-child, .saleoff2 p:last-child, .saleoff3 p:last-child, .saleoff4 p:last-child, .saleoff5 p:last-child {
    font-weight: 500;
}
.listNews .saleoff {
     background-color: #ffab00;
 }
.listNews .saleoff1 {
    background-color: #ef5350;
}
.listNews .saleoff2 {
    background-color: #607d8b;
}
.listNews .saleoff3 {
    background-color: #7cb342;
}
.listNews .saleoff4 {
    background-color: #9575cd;
}
.listNews .saleoff5 {
    background-color: #607d8b;
}
.container-fluid .row > div:last-child{
    font-size: 3rem;
}
/* More info===============================*/
.more-info {
    margin-top: 50px;
}
.more-info label {
    font-size: 2rem;
}
.more-info p:last-child {
    font-size: 2rem;
}
/*News Letter====================*/
.newsletter-wrapper {
    background-color: #2196f3;
    color: #fff;
    padding: 50px 0px;
}
.news-letter img{
    float: left;
    margin-right: 15px;
}
.news-letter p {
    text-transform: uppercase;
    margin-top: 10px;
}
.news-letter section {
    margin-top: 10px;
}
.subscribe {
    border-right: 1px solid #ddd;
}

.newsletter-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
}
@media (max-width: 991px){
    .subscribe {
        justify-content: center;
        border: none;
        margin-bottom: 5px;
    }
    .newsletter-form{
        justify-content: center;
    }
    }
input[type="email"] {
    -webkit-appearance: none;
    width: 100%;
    background: #fff;
    border: 1px solid #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0 55px;
    outline: none;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: .3px;
    color: #636363;
}
.newsletter-form input[type="submit"] {
    -webkit-appearance: none;
    text-align: center;
    padding: 0 15px;
    background: #ff4081;
    outline: 0;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    cursor: pointer;
    color: #fff!important;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    line-height: 37px;
    letter-spacing: 1px;
}
/*Partner ====================*/
.partner p {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    color: #000;
    font-size: 1.6rem;
}
.reviews {
    margin-top: 50px;
}
.reviews figure {
    margin-top: auto;
}
.reviews div:first-child, .reviews div:last-child{
    display: flex;
}
.reviews div:last-child {
    margin-top: 30px;
    margin-bottom: 30px;
}
.reviews section:first-child{
    padding: 40px;
    background-color: #7bb060;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
}
.reviews section:first-child > p:nth-child(1), .reviews section:last-child > p:nth-child(1){
    font-weight: 500;
}
.reviews section:first-child > p:nth-child(2), .reviews section:last-child > p:nth-child(2){
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 10px;
}
.reviews section:first-child > p:nth-child(3), .reviews section:last-child > p:nth-child(3){
    font-style: italic;
}
.reviews section:last-child{
    padding: 40px;
    background-color: #5199d3;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 10px solid #5199d3;
    border-left: 10px solid transparent;
    margin-top: auto;
    margin-left: 10px;
  }
  #triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 10px solid #7bb060;
    border-right: 10px solid transparent;
    margin-top: auto;
    margin-right: 10px;
  }
/*Footer ====================*/
.footer-wrapper {
    background-color: #282828;
    color: #fff;
    padding: 50px 0px;
}