/*FONTS */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/Roboto-Light.ttf") format('truetype');
}


/* Global properties ======================================================== */

* {
    -webkit-font-smoothing: antialiased
}

a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}

::selection {
    background: #1cbbb4!important;
    color: #fff
}

::-moz-selection {
    background: #1cbbb4!important;
    color: #fff
}

a {
    color: #212121;
    text-decoration: underline;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #212121;
    text-decoration: none;
    outline: none
}

body {
    background: #fff;
    border: 0;
    font: 14px 'Roboto', sans-serif;
    color: #959595;
    line-height: 1.42857143;
    min-width: 320px;
}

.container {
    position: relative;
    min-width: 320px;
}

#main {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

p {
    margin: 0
}

.input-group-addon {
    color: #737373;
    background-color: #ffffff;
    font-size: 2rem;
}


/*Header==============================================*/

.header>div>section:first-child {
    float: left;
}

.header>div>section:last-child {
    float: right;
    display: inline-block;
    margin-top: 13px;
}

.menu-default {
    display: none;
}

@media(min-width:992px) {
    .menu-default {
        display: block;
        margin: 0;
        padding: 0;
        min-height: 2rem;
        float: left;
        border-right: 1px solid #ebebeb;
        padding-right: 10px;
    }
    nav.menu-default>ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 30px;
    }
    nav.menu-default>ul li {
        display: block;
        float: left;
        position: relative
    }
    nav.menu-default>ul li>a>label {
        display: inline-block;
        height: 100%;
        margin: 0;
        padding: 0
    }
    nav.menu-default>ul li>a>label>img {
        vertical-align: middle;
        margin-right: 0.5rem;
        max-height: 100%
    }
    nav.menu-default>ul>li {
        margin-left: 2rem
    }
    nav.menu-default>ul>li:first-child,
    .menu-default>ul>li.none+li {
        margin-left: 0
    }
    .menu-default li.search>span {
        display: inline-block;
        overflow: hidden;
        line-height: inherit;
        position: relative;
        height: 30px;
        max-height: 100%;
        width: 30px;
        vertical-align: middle;
        box-sizing: border-box;
        border: solid 1px transparent;
        border-radius: 10px;
        transition: width .8s, border .8s, background-color .5s
    }
    .menu-default li.search>span:hover,
    .menu-default li.search>span:focus,
    .menu-default li.search>span:active {
        width: 150px;
        border: solid 1px #d6d6d0;
        background-color: #fff
    }
    .menu-default li.search>span>input {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 20px;
        font-size: 85%;
        width: 100%;
        height: 30px;
        max-height: 100%;
        padding: 0 25px 0 10px;
        border: 0;
        background-color: transparent
    }
    .menu-default li.search>span>label {
        display: inline-block;
        position: absolute;
        top: -1px;
        right: 5px;
        line-height: 30px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        font-size: 2rem;
    }
    .menu-default li.none {
        display: none
    }
    .mm-menu.mm-current {
        display: none;
    }
}

.user-info,
.user-info>div {
    float: right;
    margin-top: -3px;
    margin-left: 10px;
}

.user-info>figure {
    float: left;
    margin-left: 10px;
}

.user-info>div>span {
    color: #dd4b8f;
    font-weight: 700;
}


/*Ticket Tabs==========================*/

.ticket-wrapper {
    background: url(../images/bg-slide.png) center center no-repeat;
    background-size: cover;
}

.ticket-tab {
    background: rgba(38, 137, 218, .6);
    margin-top: 298px;
    margin-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs .fa-plane {
    transform: rotate(-45deg);
    margin-right: 8px;
}

ul.tabs .fa-subway {
    margin-right: 8px;
}

ul.tabs li {
    background: #2675bb;
    color: #fff;
    display: inline-block;
    padding: 9px 20px;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 5px;
    margin-top: 0px;
    min-width: 140px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 767px) {
    ul.tabs li {
        width: 100%;
    }
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        font-size: 1.1rem;
    }
}

ul.tabs li:hover {
    background: #ff4081;
    color: #fff;
}

ul.tabs li.current {
    background: #ff4081;
    color: #fff;
}

.tab-content {
    display: none;
    background: none;
    padding-top: 15px;
    min-height: 100px;
}

.tab-content.current {
    display: inherit;
}

.ticket-search:before {
    background-image: url(../images/search.png);
}

@media (min-width: 768px) {
    .form-inline .form-group {
        margin-top: -30px;
    }
}